.container{
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
}
.label{
    font-size:14px;
    font-weight:600;
    margin:0;
    width:100%;
}
.input{
    border:2px solid var(--color-border);
    border-radius:8px;
    padding:14px;
    background-color:var(--color-primary-mute);
    height:50px;
    width:100%;
}
.dual{
    display:flex;
    gap:16px;
    width:100%;
}
/* input search */
.headerSearch{
    display:flex;
    gap:10px;
    color:black
}
.SearchInput{
    border:1px solid var(--color-border);
    background-color:var(--color-primary-mute);
    border-radius:5px;
    display:flex;
    align-items:center;
    padding:2px;   
}
.input{
    border:none;
    font-size:16px;
    background:none;
}
.input:focus{
    outline:none
}
.filter{
    border:1px solid var(--color-border);
    border-radius:5px;
    background:none;
}
.SearchInput :last-child:focus{
    outline:none
}
.searchIcon{
    border:none;
}