.footer {
    background-color: #D3E4FE;
}

.links a {
    color: #464555;
}
.icon{
    background-color: rgba(70, 69, 85, 0.1);
    border-radius: 100%;
    padding: 8px;
    width: 40px;
    height: 40px;
}